osu!.tmproj
*.pfx
*.user
*DS_Store*
*/bin/
*/obj/
*.suo
*.tmproj
*.idea
*.dmg

*.docstates

*.sublime-project
*.sublime-workspace

*desktop.ini

packages/*
!packages/repositories.config
.vs/*
